* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(80, 72, 108);
    color: rgb(43, 26, 45);
}

#title {
font-size: 25px;
font-weight: bold;
text-align: center;
background-color: rgb(171, 168, 197);
border-bottom: 2px solid rgb(76, 55, 79);
padding: 10px;
}

#blog-data{
 width: auto;
 display: flex;
 align-items: center;
 flex-direction: column;
}
.post-card {
border: 2.5px solid rgb(49, 46, 76);
text-align: center;
padding: 10px;
margin: 10px;
width: 400px;
height: fit-content;
background-color: rgb(171, 168, 197);
border-radius: 15px;

}

.post-title {
background-color: rgb(136, 132, 165);
border-radius: 10px;
border: 2px solid rgb(76, 55, 79);
padding: 5px;
margin-bottom: 5px;
}

.post-tags {
    background-color: rgb(136, 132, 165);
    border-radius: 10px;
    border: 2px solid rgb(76, 55, 79);
    margin: 10px;
}

.post-engagement {
    margin: 10px;
    border: 2px solid rgb(76, 55, 79);

}

.post-views {
    background-color: rgb(136, 132, 165);
}

.post-likes {
    background-color: rgb(136, 132, 165);
}

.post-dislikes {
    background-color: rgb(136, 132, 165);
}
